This package is to run data modelling/forecast predictions based on historical data.

The sqlite database keeps a record of what stock data is on hand, when it begins, and when it ends.

When data is requested from the database, if it is not available in the database, execute a request to the API (and update the ticker table as well as the metadata table in the database)

In [4]:
import pandas as pd
from db_utilities import query, list_all_tables, drop_ticker_table, read_table, update_ticker_metadata
from setup_utilities import create_metadata_table, initial_data_pull, create_ticker_metadata
from stock_functions import get_close_price, get_ohlc
import datetime as dt 
import sqlite3 

from update_data import main_update_job

main_update_job()

updating metadata for ZTS
issues with []

In [5]:
read_table('stock_metadata')#['first_date'].unique()

,last_updated,rowcount,ticker,industry,name,first_date,last_date
0,2024-02-11,3046,MMM,Industrials,3M,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
1,2024-02-11,3046,AOS,Industrials,A. O. Smith,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
2,2024-02-11,3046,ABT,Health Care,Abbott Laboratories,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
3,2024-02-11,2796,ABBV,Health Care,AbbVie,2013-01-02 00:00:00-05:00,2024-02-09 00:00:00-05:00
4,2024-02-11,3046,ACN,Information Technology,Accenture,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
...,...,...,...,...,...,...,...
470,2024-02-11,3046,YUM,Consumer Discretionary,Yum! Brands,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
471,2024-02-11,3046,ZBRA,Information Technology,Zebra Technologies,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
472,2024-02-11,3046,ZBH,Health Care,Zimmer Biomet,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
473,2024-02-11,3046,ZION,Financials,Zions Bancorp,2012-01-03 00:00:00-05:00,2024-02-09 00:00:00-05:00
474,2024-02-11,2775,ZTS,Health Care,Zoetis,2013-02-01 00:00:00-05:00,2024-02-09 00:00:00-05:00